<div class="login">
  <div class="LogSignForm">
    <h2>Log In</h2>
    <a href="/">Don't want to sign up? That's okay</a>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>
        <input placeholder="Username"type="text" name="user[username]" value="">
      </label>
      <br>
      <label>
        <input placeholder="Password" type="password" name="user[password]" value="">
      </label>
      <br>
      <input type="submit" value="Log In">
    </form>
    <a href="#">Log in as Guest User</a>
    <br>
    <a href="/users/new">Sign up here</a>
  <div/>
<div/>
